.body-content{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    .progress-empty{
        background-color: #C7FFED;
        border-radius: 10px;
        height: 4px;
        width:60%;
        margin-left: 20%;
        position: relative;
        top:20.5px;
        z-index: 0;
        .progress-full{
            width: 0%;
            height: 100%;
            background-color:green ;
            transition: .5s;
        }
    }
    .cercles-steper{
        z-index:1;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-left: 20%;
        width:60%;
        .cercle{
            width:40px;
            height:40px;
            border-radius: 50%;
            border: 2px solid #015958;
            background-color: #C7FFED;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
       
    }
    .container-btn {
        display:flex;
        justify-content: space-evenly;
        margin-top: 20px;
        %btn {
            border-radius: 5px;
            width: 150px;
            padding:3px 0;
            font-weight: bold;
            text-align: center;
        }
        .next-question{
            @extend %btn;
            background-color: pink;
        }
        .btn-next{
            @extend %btn;
            background-color:#008F8C ;
            &:hover{
               background-color:#057674 ;
            }
        }
        .btn-previous{
            @extend %btn;
            background-color:#D8FFDB ;
            &:hover{
               background-color:#c4e4c6 ;
            }
        }
        .btn-go{
            @extend %btn;
            background-color: rgb(236, 204, 0);
        }
    }
    .quiz-logo{
        display:flex;
        justify-content: center;
        margin-bottom: 80px;
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    }
    .content {
        margin-top: -50px;
        .condition-block {
            text-align: center;
            display: none;
            width: 100%;
            border: 2px solid black;
            .answers{
              width:300px;
              height: 150px;
              position: relative;
              .radio-question{
                position: absolute;
                accent-color: blue;
                top:2%;
                left:2%;
                width:20px;
                height: 20px;
              }
              .check-question{
                position: absolute;
                accent-color: blue;
                top:2%;
                left:2%;
                width:20px;
                height: 20px;
              }
            }
            .condition-terms {
                margin-bottom: 40px;
                color: gray;
            }
        }
        
        .active {
            display: block;
        }
    }
}

